{% extends "base.html" %}
{% load humanize %}
{% load bootstrap_pagination %}


{% block content %}
 <!-- pagination -->
<div class="row content">
  <div class="col-md-10 col-md-offset-1  text-left">
  <br/>
  <p style="font-size:18px;padding:120px 0 500px 0;">
Having a custom Error 404 page is great way to show how your front-end team are creative. 404 page let your customer remember
your website stumbling upon a serendipity. Our website provided a curated list of 404 webpage. You can send us a suggies so that we can add your website into our list.
  </p>

  </div>
</div>
<!-- pagination -->
{% endblock %}
