{% extends "base.html" %}
{% load humanize %}
{% load bootstrap_pagination %}


{% block content %}
 <!-- pagination -->
<div class="row content">
<div class="col-md-8 col-md-offset-1  text-left">
<br/>
<!--
                       _             __  _
    ____  ____ _____ _(_)___  ____ _/ /_(_)___  ____
   / __ \/ __ `/ __ `/ / __ \/ __ `/ __/ / __ \/ __ \
  / /_/ / /_/ / /_/ / / / / / /_/ / /_/ / /_/ / / / /
 / .___/\__,_/\__, /_/_/ /_/\__,_/\__/_/\____/_/ /_/
/_/          /____/
-->
 {% bootstrap_paginate page_obj last_label="Last" first_label="First"  range=5 show_prev_next='true' previous_label="<" next_label=">" %}
</div>

</div>
<!-- pagination -->

    <div class="row" style="">
{% for article in object_list %}
        <div class="col-md-8 col-md-offset-2 ">
            <div class="card content-404">

                <div class="card-content">
                    <span class="card-title">{{ article.title | title }}</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-image">
                    <img class="img-responsive" src="{{ article.screenshot.url }}">

                </div><!-- card image -->
                <div class="card-action text-center">
                  <a href="{{ article.url }}" target="new_blank">{{ article.url }}</a> <br>
                    <span>Added on {{ article.created | naturaltime }}</span>
                    <!--
                    <a href="#" target="new_blank">Website</a>
                    <a href="#" target="new_blank">Tags</a>
                    -->
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
<hr>
        </div>
{% empty %}
   <p>
     There is no 404 screenshots available
   </p>
{% endfor %}

</div>

<!-- pagination -->
<div class="row content">
<div class="text-left col-md-8 col-md-offset-1  ">
<br/>
<!--
                      _             __  _
   ____  ____ _____ _(_)___  ____ _/ /_(_)___  ____
  / __ \/ __ `/ __ `/ / __ \/ __ `/ __/ / __ \/ __ \
 / /_/ / /_/ / /_/ / / / / / /_/ / /_/ / /_/ / / / /
/ .___/\__,_/\__, /_/_/ /_/\__,_/\__/_/\____/_/ /_/
/_/          /____/
-->
{% bootstrap_paginate page_obj last_label="Last" first_label="First"  range=5 show_prev_next='true' previous_label="<" next_label=">" %}
</div>

</div>
<!-- pagination -->
{% endblock %}
